<p id="notice"><%= notice %></p>

<h1>Barrows</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Town</th>
      <th>Category</th>
      <th>Price</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @barrows.each do |barrow| %>
      <tr>
        <td><%= barrow.name %></td>
        <td><%= barrow.description %></td>
        <td><%= barrow.town %></td>
        <td><%= barrow.category %></td>
        <td><%= barrow.price %></td>
        <td><%= barrow.user %></td>
        <td><%= link_to 'Show', barrow %></td>
        <td><%= link_to 'Edit', edit_barrow_path(barrow) %></td>
        <td><%= link_to 'Destroy', barrow, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Barrow', new_barrow_path %>
