<tr>
<% if @barrows.nil?  %>
<%= p "No Barrows" %>
<% else %>
<% @barrows.each do |barrow| %>
<td><%= barrow.name %></td>
<td><%= barrow.description %></td>
<td><%= barrow.town %></td>
<td><%= barrow.price %></td>
<td><%= link_to 'Edit', edit_barrow_path(barrow) %></td>
<td><%= link_to 'Destroy', barrow, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
<% end %>
</tr>

<br>
<br>

<tr>
<% if @bookings.nil?  %>
<%= p "No Bookings" %>
<% else %>
<% @bookings.each do |booking| %>
<ul>
<li><%= booking.booking_date %></li>
<li><%= booking.barrow.name %></li>
<li><%= booking.barrow.price %></li>
<td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</ul>
<% end %>
<% end %>
</tr>
