<div class="container">
<tr>
<% if @barrows.nil?  %>
<%= p "No Barrows" %>
<% else %>
<% @barrows.each do |barrow| %>
<td><%= barrow.name %></td>
<td><%= barrow.description %></td>
<td><%= barrow.town %></td>
<td><%= barrow.price %></td>
<td><%= link_to 'Edit', edit_barrow_path(barrow) %></td>
<td><%= link_to 'Destroy', barrow, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
<% end %>
</tr>

<% if @barrows.nil?  %>
<%= p "No Barrows" %>
<% else %>
<% @barrows.each do |barrow| %>
<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2><%=barrow.name%></h2>
      <h6><%= barrow.town %></h6>
      <p><%=barrow.description%></p>
    </div>
    <h2 class="card-trip-pricing"><%= barrow.price %> €</h2>
  </div>
</div>
<% end %>
<% end %>
<br>
<br>



<tr>
<% if @bookings.nil?  %>
<%= p "No Bookings" %>
<% else %>
<% @bookings.each do |booking| %>
<ul>
<li><%= booking.booking_date %></li>
<li><%= booking.barrow.name %></li>
<li><%= booking.barrow.price %></li>
<td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</ul>
<% end %>
<% end %>
</tr>
</div>
