<body>


<div class="container">
<br>

<h1 class="my-barrows">Mes brouettes à moi rien qu'à moi</h1>

<br>

<div class="cards">
<% if @barrows.empty?  %>
<p>
Vous n'avez posté aucune annonce de brouette.
Cliquez <%= link_to "ici", new_barrow_path %> pour poster une annonce de brouette.
</p>
<% else %>
  <% @barrows.each do |barrow| %>
    <div class="card-trip">
      <%= cl_image_tag barrow.photo.key, height: 500, width: 730, crop: :fill if barrow.photo.attached? %>
      <p><%= link_to '+', barrow, method: :delete, data: { confirm: 'Voulez-vous supprimer cette brouette?' }, class: "link-destroy" %></p>
      <div class="card-trip-infos">
        <div>
          <h2><%=barrow.name%></h2>
          <h6><%= barrow.town %></h6>
          <p><%=barrow.description%></p>
          <p><%= link_to 'Edit', edit_barrow_path(barrow), class: "btn btn-ghost" %></p>


        </div>
        <h2 class="card-trip-pricing"><%= barrow.price %> €</h2>
      </div>
    </div>
  <% end %>
<% end %>
</div>
<br>
<br>

<h1 class="my-barrows">Les brouettes que j'ai loué</h1>

<br>



<div class="cards">
<% if @bookings.empty?  %>
<p>
  Pas encore de locations. <br>
  Cliquez <%= link_to "ici", root_path %> pour louer une brouette.
</p>
<% else %>
<% @bookings.each do |booking| %>
    <div class="card-trip">
      <%= cl_image_tag booking.barrow.photo.key, height: 500, width: 730, crop: :fill if booking.barrow.photo.attached? %>
      <p><%= link_to '+', booking, method: :delete, data: { confirm: 'Voulez-vous supprimer cette réservation?' }, class: "link-destroy" %></p>
      <div class="card-trip-infos">
        <div>
          <h2><%=booking.booking_date%></h2>
          <h6><%= booking.barrow.name %></h6>
          <br>
        </div>
        <h2 class="card-trip-pricing"><%= booking.barrow.price %> €</h2>
        <div class= "card-trip-user avatar-bordered" >
          <% if booking.barrow.user.photo.attached? %>
            <%= cl_image_tag booking.barrow.user.photo.key, width: 40, height: 40, crop: :fill, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= image_tag "anna.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false%>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
</div>


</body>
  <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Le père brouette vous remercie chaleureusement de votre viste <i class="fas fa-heart"></i>
  </div>
</div>

