<p id="notice"><%= notice %></p>


<div class="container">
<div class="container-car-desc">
  <div >
  <%= cl_image_tag @barrow.photo.key, height: 500, width: 730, crop: :fill if @barrow.photo.attached? %>
  </div>

  <div class="card-trip-desc">
    <div class="card-body">
      <div class="avatar-username">
        <% if @barrow.user.photo.attached? %>
          <%= cl_image_tag @barrow.user.photo.key, width: 40, height: 40, crop: :fill, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% else %>
          <%= image_tag "anna.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false%>
        <% end %>
        <h5 class="card-text"> <%= @barrow.user.username %> </h5>
      </div>
      <p class="card-text"><%= @barrow.town %></p>
      <p class="card-text"><%= @barrow.user.email %></p>
      <h4 class="card-text price"><%= @barrow.price %> €</h4>
    <div class="card-body">

      <%= link_to 'Book', barrow_bookings_path(@barrow), method: :post, class: "btn btn-flat"  %>

   </div>

    </div>
  </div>
</div>

<div class="card-desc">
  <h4 class="title"><%= @barrow.name %></h4>
  <p class="desc"> <%= @barrow.description %></p>
</div>

<br>

<%= link_to 'Book', barrow_bookings_path(@barrow), method: :post  %>
<%= link_to 'Edit', edit_barrow_path(@barrow) %> |
<%= link_to 'Back', my_barrows_path %>

</div>
