<body class="background-image">
  <div class="container">

      <div class="pomehage">
        <div class="form-homepage">
          <h2 class="texts">Louez une brouette</h2>
          <%= simple_form_for :search, url: barrows_path, method: :get, class: "action" do |f| %>
          <div class="bordure-jaune"><%= f.input :town, input_html: {class: "form-control", id: "exampleInputPassword1"}, label: false, placeholder: "Ville" %></div>
          <div class="bordure-jaune"><%= f.input :category, include_blank: false, collection: ['Thermique', 'Manuelle', 'Electrique', 'Avec Assistant'].map {|d| [d, d]}.unshift(['Toutes', '']), input_html: {class: "form-control", id: "exampleInputEmail1"}, label: false %></div>
          <div class="bordure-jaune"><%= f.input :booking_date, input_html: {class: "form-control", id: "exampleInputEmail1"}, label: false, placeholder: "Date" %></div>
          <%= f.submit "Rechercher", class: "kak", id: "lebouton" %>
        <% end %>
      </div>
        <h1 class="title-pere">Le Père Brouette since 1972</h1>
    </div>
  </div>
</body>
