<body class="lebody">
  <div class="sign-in-container">
    <div class=carde>

      <div class="lelogin">
        <h2 id="logintext">Log in</h2>
      </div>

      <div class="content">
        <div class="form-container">

          <%= simple_form_for :search, url: session_path(resource_name), method: :get, class: "actionner" do |f| %>
            <%= f.input :email, input_html: {class: "form-control-login", id: "InputEmail1"}, label: false, autofocus: true, placeholder: "Email ou username" %>
            <%= f.input :password, input_html: {class: "form-control-login", id: "InputPassword1"}, label: false, placeholder: "Mot de passe" %>

            <div class="center-button"><%= f.submit "Se connecter", id: "connexionbouton" %></div>

          <% end %>
        </div>
      </div>

      <div class="links">
        <%= render "devise/shared/links" %>
      </div>

    </div>
  </div>
</body>
