<body class="lebody">

  <div class="lelogin">
    <h2 id="eej">Log in</h2>
  </div>
<div class="content">
  <div class="form-container">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.input :email, required: false,label:false, autofocus: true, input_html: { autocomplete: "email" }, placeholder: "Email ou username" %>
        <%= f.input :password, required: false,label:false, input_html: { autocomplete: "current-password" }, placeholder: "Mot de passe" %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

      <div class="form-actions" id="hi">
        <%= f.button :submit, "Se connecter" %>
      </div>
    <% end %>
    </div>
  </div>
  <div class="burp">
    <%= render "devise/shared/links" %>
  </div>
</body>
